<div class="container" style="padding:15px;">
{{#each tables}}
  <h2><strong>Table #{{this.id}}</strong></h2>

  {{#if this.available}}
   
    <h3>Current Table Information:</h3>
    <p><strong>Name:</strong> {{this.name}}</p>
    <p><strong>Phone:</strong> {{this.phone}}</p>
    <p><strong>Email:</strong> {{this.email}}</p>
    <p><strong>Party Size:</strong> {{this.num_party}}</p>
    <p><strong>Reservation Time:</strong> {{this.res_time}}</p>
  {{/if}}
{{/each}}
<br>
<a href="/admin/tables"><button class="btn btn-default" style="margin-bottom:10px;">Go Back</button></a>
</div>